.container{
    width: 95%;
    max-width: 1200px;
    margin: 20px 0;
    background: rgb(0, 0, 0 ,35);
    backdrop-filter: blur(10px);
    border-radius: 24px;
    padding: 30px;
    box-shadow: 0 25 50 rgba(0, 0, 0, 0.45);

}