body{
    min-width: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(270deg, #eeff04, #dd2476 , #bce8ee, #514a9d);
    background-size: 800% 800%;
    animation: gradientBG 12s ease infinite;
    color: #fff;


    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}